@import "tailwindcss";

@theme {
  --color-blue-950: #242A45;
  --color-blue-600: #5267DF;
  
  --color-grey-600: #5B6074;
  --color-grey-50: #F7F7F7;

  --color-red-400: #FA5959;

  --font-rubik: "Rubik", sans-serif;
  --text-base: 18px;
  --leading-base: 155%;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "Rubik", sans-serif;
}